body{
  background-color: whitesmoke;
  font-family: monospace;
}

.main{
  padding: 2%;
}

.mainHeading{
  text-align: center;
  color: dodgerblue;
}

.card{
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: gray 5px 5px 20px;
}

form{
  padding: 5%;
}
